.page-header{
    box-sizing: border-box;
    background-color: green;
    padding: 10px;
 
}
.page-header h1{
    margin: 0;
    color: #f7f7f7;
}
.img-feature {
    position: relative;
}

.img-feature figure {
    border-radius: 10px;
    overflow: hidden;
}

.img-feature .btn-upload {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.img-feature .btn-upload i {
    color: green;
    font-size: 24px;
}

.img-feature .btn-upload i:hover {
    color: red;
}


.attachment-thumbnail {
    max-width: 100%;
    height: auto;
}

.img-gallery .inside {
    position: relative;
}

.img-gallery .inside ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: auto;
}

.img-gallery .inside ul .image {
    width: 25%;
    float: left;
    cursor: move;
    margin: 12px 12px 0 0;
    background: #f7f7f7;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}


.img-gallery .inside ul .image:last-child {
    margin-right: 0;
}

.img-gallery .inside ul.actions {
    position: absolute;
    top: 2px;
    right: 2px;
}

.img-gallery .inside ul.actions li {
    float: right;
    margin: 0 0 0 0;
}

.img-gallery .inside ul.actions li a.delete {
    display: block;
    position: relative;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
}

.img-gallery .inside ul.actions li a.delete i {
    color: green;
}

.img-gallery .inside ul.actions li a.delete i:hover {
    color: red;
}
.product-detail{
    position: relative;
}
.product-info{
    padding: 0;
}
.product-info li{
    list-style: none;
}
.product-info li img{
    margin-right: 10px;

}
.update-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.update-icon i {
    font-size: 20px;
    margin:0 8px;
    color: green;
    cursor: pointer;

}
@media only screen and (max-width: 768px){
    h3.product-title, .update-icon i{
        font-size: 16px;
    }
    .page-header h1{
       font-size: 18px;
    }
}