.single-page .page-header {
    box-sizing: border-box;
    background-color: #0daa9f;
    position: relative;
    margin: 0 0 50px 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.single-page .page-header h1 {
    color: #f7f7f7;
    margin: 15px 0;
    font-size: 18px;
}

.single-page .img-feature {
    position: relative;
}

.single-page .img-feature figure {
    border-radius: 5px;
    overflow: hidden;
}

.single-page .img-feature-container .img-feature {
    margin-right: 15px;
    margin-left: 15px;
}

.single-page .attachment-thumbnail {
    max-width: 100%;
    height: auto;
}

.single-page .img-gallery .inside {
    position: relative;
}

.single-page .img-gallery .inside ul {
    list-style: none;
    /* margin: 0; */
    padding: 0;
}

.img-gallery .inside ul {
    margin: 0 -6px;
}

.single-page .img-gallery .inside ul .image {
    background: #f7f7f7;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 12px 6px 0;
}

.single-page .img-gallery .inside ul .image img {
    border-radius: 5px;
}

/* .img-responsive{
    width: 100%;
} */


.single-page .img-gallery .inside ul .image:last-child {
    margin-right: 0;
}

.single-page .product-detail {
    position: relative;
}

.single-page .product-info {
    padding: 0;
}

.single-page .product-info li {
    list-style: none;
}

.single-page .product-info .ic {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
}

.single-page .update-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.single-page .update-icon i {
    font-size: 20px;
    margin: 0 8px;
    color: #0daa9f;
    cursor: pointer;

}

@media only screen and (max-width: 768px) {
    .single-page .product-title, .update-icon i {
        font-size: 16px;
    }

    .single-page .page-header {
        margin: 0 !important;
        padding: 10px 15px 30px 15px;
    }

    .single-page .img-feature-container {
        position: relative;
        z-index: 999;
        top: -20px;
    }

    .single-page .page-header h1 {
        font-size: 18px;
    }

    .single-page .page-header i {
        font-size: 20px !important;
        color: #fff;
        cursor: pointer;
    }

    .single-page .img-feature figure {
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .single-page .img-feature-container .img-feature {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 769px) {
    .wappper {
        min-height: calc(100vh - 80px);
        overflow: hidden;
    }
}